#burger-content {
  display: none;
  width: 100%;

  #burger {
    z-index: 1000;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background: var(--bg-secondary);
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: var(--shadow-md);
  }
}

@media screen and (max-width: 1024px) {
  #burger-content {
    display: block;
  }
}
